@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn ABC about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><button onclick="CallCSharp();">调用C#</button></p>
    <script>
        function CallCSharp() {
            try {
                alert(bcBound.ShowMsg('come from js'));
            } catch (e) {
                alert(e);
            }

            return false;
        }
    </script>
</div>
